# frontend gitignore

frontend/node_modules/
frontend/dist/
frontend/src/assets/
frontend/src/env
frontend/.env.local
frontend/.env.*.local

# backend gitignore
backend/node_modules/
backend/dist/
backend/src/assets/
backend/src/env
backend/.env.local
backend/.env.*.local

# Logs
*.log
npm-debug.log*

# OS / Editor noise
.DS_Store
Thumbs.db
.vscode/
.idea/


